<div *ngIf="card" class="container">
  <div class="header">
    <a class="back" [routerLink]="['/']">Voltar</a>
    <div class="edit-delete">
      <a (click)="delete()" class="delete"><i class="fa fa-trash"></i></a>
      <a class="edit">
        <i class="fa fa-pencil"></i>
      </a>
    </div>
  </div>
  <div class="full-card">
    <div class="main">
      <img src="http://www.decomat.pt/index/images/joomlart/demo/default.jpg" alt="default img">
      <h4>{{card.name}}</h4>
    </div>
    <div class="body">
      <ul class="badges">
        <li *ngFor="let stage of card.stages">
          {{stage.name}}</li>
        <li>{{card.kind.label}}</li>
        <li>{{card.duration}}min</li>
      </ul>
      <div class="input-output">
        <div class="input">
          <h6>Input</h6>
          <p>{{card.input}}</p>
        </div>
        <div class="output">
          <h6>Output</h6>
          <p>{{card.output}}</p>
        </div>
      </div>
      <div class="steps">
        <h6>Passo a passo</h6>
        <ul>
          <li *ngFor="let step of card.steps">
            {{step}}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
