.label {
  background-color: #5D5FEF;
  color: #fff;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.label h5{
  font-weight:lighter;
  font-size: 1.2rem;
  line-height: 1.2rem;
  width: 1020px;
  margin: 0;
}
