ul {
  list-style: none
}

.cards-container, .header {
  width: 1005px;
  margin: 0 auto;
}
.header {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.title {
  color: #344563;
}

.filter ul {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 20px 0;
}

.filter li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  border: 1px solid #5D5FEF;
  padding: 10px 20px;
  font-size: 14px;
  color: #5D5FEF;
  font-weight: bold;
  cursor: pointer;
}

.filter li:hover, .filter li.active {
  background-color: #5D5FEF;
  color: #fff;
}

.filter li + li  {
  border-left: none;
}

.total-cards {
  background-color: #67D1AB;
  color: #fff;
  font-weight: normal;
  font-size: 10px;
  width: 20px;
  height: 20px;
  line-height: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-left: 2px;
  margin-bottom: 5px;
}

.cards-list ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 0;
}

.cards-list li {
  width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main {
  position: relative;
}

.card {
  border-radius: 20px;
  overflow: hidden;
}

h4 {
  position: absolute;
  bottom: 0;
  left: 15px;
  color: #5D6A82;
}

img {
  width: 100%;
}

.body {
  height: 160px;
  padding: 0px 20px;
}

.body p {
  text-align: center;
  color: #5D6A82;
}

.badges {
  margin: 20px 0;
}

.badges span {
  display: inline-block;
  background-color: #67D1AB;
  color: #fff;
  font-size: 12px;
  width: 80px;
  text-align: center;
  border-radius: 30px;
}

.badges span + span {
  margin-left: 10px;
}

button {
  background-color: #5D5FEF;
  height: 50px;
  color: #fff;
}

button:hover {
  background-color: #393ba3;
  color: #fff;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination ul {
  display: flex;
  padding: 30px 0;
}

.pagination li {
  border: 1px solid #cfcfcf;
  color: #666;
  padding: 5px 15px;
}

.pagination li:first-child {
  border-radius: 10px 0 0 10px;
  border-right: none;
}

.pagination li:last-child {
  border-radius: 0 10px 10px 0;
  border-left: none;
}

.pagination a {
  cursor: pointer;
  color: #4A4CBF;
}

.disabled {
  pointer-events: none;
  opacity: .5;
}
